[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
json-schema-for-humans = "==0.41.8"
starlette = "==0.20.4"
httpx = "==0.23.0"

[dev-packages]
isort = "==5.10.1"
flake8 = "==5.0.4"
black = "==22.6.0"
pytest = "==7.1.2"
pytest-cov = "==3.0.0"
respx = "==0.19.2"

[requires]
python_version = "3.9"

[scripts]
build = "./build.py"
format = "bash -c 'isort . && black .'"
lint = "bash -c 'isort --diff . -- && black --check . && flake8 .'"
test = "pytest -s --cov=lib --cov=api --cov-report term --cov-report xml ./tests"
